/* Home page Css Start*/

/* Home page Css End */

 
 /* Registration Css Start*/
 @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  /* display:flex; */
  align-items: center;
  justify-content: center;
  /* background: rgb(224, 251, 222);
  background: #eeee; */
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper{
  position: relative;
  margin-left: 460px;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  opacity:0.9;
}
.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.wrapper h2::before{
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #4070f4;
}
.wrapper form{
  margin-top: 30px;
}
.wrapper{
  margin-top: 90px;
}
.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;
}
form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
  border-color: #4070f4;
}
form .policy{
  display: flex;
  align-items: center;
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #4070f4;
  cursor: pointer;
}
.input-box.button input:hover{
  background: #0e4bf1;
}
form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: #4070f4;
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}
/* Registration Css End*/



 /* Login page-CSS Start*/
 .Login-img{
  background-color: #606060;
}
.pen center{
  font-family:Arial, Helvetica, sans-serif;
}
.pen{
  width: 380px;
  margin: 95px 0px 0px 490px;
  display:flex;
  color: #fff;
  flex-direction: column;
  padding: 20px;
  border: 2px solid gold;
  border-radius: 50px 5px;
  background: linear-gradient(0deg,transparent,#0070fa);
  }

.pen h3{
  margin: 30px 0px 30px 0;
  font-size: 25px;
  color:#fff;

}
.pen center{
      font-family:Arial, Helvetica, sans-serif;
  }
.pen input{
  margin: 5px 0px;
  height: 35px;
  padding: 7px;
}
.Rem{
  margin: -15px 0 5px;
  margin-right: 100px;
  font-size: 15px;
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Rem label{
  margin-right:100px;
}
.Register{
  font-size: 15px;
  color: #fff;
  display: flex;
  justify-content: center;
  margin:15px 10px;
}
.Register p a{
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

.pen .bto input{
  text-decoration: none;
  color: gold;
  /* margin:0px 10px 0px 0px; */
}
.pen .bto input {
  height: 40px;
  font-size: 20px;
  margin: 5px 0px;
  background: transparent;
  width: 350px;
  border: none;
  justify-content: center;
  border-radius: 40px;
}
.pen .bto input:hover{
  background-color:#388b6f; 
}
/* Login Page Css End */




/* Footer Start */
#footer{
  padding: 5px 5px;
  margin-top: 60px;
}
#footer .f-content{
  text-align: center;
}
.f-logo img {
  width: 250px;
  margin-bottom: 10px;
  margin-top: 3px;
  cursor: pointer;
  transition: 0.3s ease;
}
/* Hover effect on logo */
.f-logo img:hover {
  transform: scale(1.1);
}
.f-content i{
  font-size: 18px;
  color: black;
  padding: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.f-content i:hover{
  background: #e53937;
  color: white;
  border-radius: 5px;
}
.c-content{
  text-align: center;
}
.c-content span a{
  text-decoration: none;
  color: #e53937;
  
}
#footer .f-content .foot{
  background-color: #C7BEBE;
  padding-top: 20px;

}
/* Footer End */
